html {
	height: 100%;
}

body {
  padding-top: 70px;
  height: 100%;
}

.thumbnail img {
  width: 100%;
}

.ratings {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

footer {
  margin: 0;
}

/* my styling */

.wrapper {
	min-height: 100%;
	position: relative;
}

.content {
	padding-bottom: 50px;
}

.footer {
	position: absolute;
	bottom: 10px;
	height: 50px;
}